@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pulsation animation */

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

/* Rotation animation */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Animation classes */

.rotate {
  animation: rotate 2s infinite;
}

.pulse {
  animation: pulse 2s infinite;
}

.animate-opacity {
  animation: opacity 0.8s ease-in-out infinite alternate;
}

.bg-primary {
  background-color: #f3f1ec;
}

.bg-primary-dark {
  background-color: #e2e0db;
}
